</div>
</div>
      </div>
      <%- include('../partials/modals') %>
      <!-- Footer -->
    <footer class="fixed-bottom text-center text-sm-start text-muted" style="background-color: #e3f2fd;">

      <section class="d-flex justify-content-center justify-content-sm-between p-1 border-bottom">
        FMDC
      </section>
    </footer>
      
    </body>
</html>