<%- include('../partials/head') %>
<div class="fixed-top">
  <nav class="navbar navbar-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/actv"><%= appTitle%></a>
      <div class="d-flex">
        <% if( typeof isAuth == 'undefined' || !isAuth) { %>
        <a class="btn btn-info me-2" href="/actv/sign-up">Sign-up</a>
        <a class="btn btn-outline-info" href="/actv/login">Login</a>
        <% } else { %>
          <a class="" href="#">
            <form action="/logout"   method="POST">
              <button class="btn">Logout</button>
            </form>
          </a>
        <% } %>
      </div>
    </div>
  </nav>
</div>

<script type="text/javascript">

</script>

<div class="container-fluid" style="height: 1000px !important;margin-top: 100px;">
  <div class="row h-100">
    <div class="col-12 pl-5 pr-5 pt-2">      